services:
  autoware1:
    image: autoware_fms_zenoh_bridge_image
    environment:
      - ROS_LOCALHOST_ONLY=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - QT_X11_NO_MITSHM=1
      - DISPLAY=$DISPLAY
      - VEHICLE_NAME=v1
      - FMS_CONNECTION=tcp/172.17.0.1:7887
    volumes:
      - ./runtime:/root/runtime
      - /tmp/.X11-unix:/tmp/.X11-unix
    privileged: true
    command: ./autoware.sh
  autoware2:
    image: autoware_fms_zenoh_bridge_image
    environment:
      - ROS_LOCALHOST_ONLY=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - QT_X11_NO_MITSHM=1
      - DISPLAY=$DISPLAY
      - VEHICLE_NAME=v2
      - FMS_CONNECTION=tcp/172.17.0.1:7887
    volumes:
      - ./runtime:/root/runtime
      - /tmp/.X11-unix:/tmp/.X11-unix
    privileged: true
    command: ./autoware.sh
